<div class="container-fluid">
	<label for="quiz_name">Quiz name : </label>
	<input type="text" name="quiz_name" ng-model="quizName"></input>
	<button ng-click="addQuiz()">+Add quiz to subject</button>
	<table class="table">
		<tr ng-repeat="q in quizzes">
			<td>{{q.id}}</td>
			<td>{{q.name}}</td>
			<td><a href="#/question_quiz/{{q.id}}/{{subjectId}}">Add question to quiz</a></td>
			<td><a href="#/list/questions/in/quiz">List questions in quiz</a></td>
			<td><a href="#/take/quiz/{{q.id}}">Take quiz</a></td>
		</tr>
	</table>
</div>