<div class="container-fluid">
	
	<div class="row">
		<div class="col-md-6">
			<label for="sections">Select section before:</label>
			<select ng-model="section" ng-options="s.name for s in sections" ng-change="changeSection()">
			</select>
			<button ng-click="saveQuiz()">Save quiz</button>		
		</div>
	</div>
	
	<div class="col-md-6">
		<table class="table">
			<tr ng-repeat="qq in quizQuestions">
				<td>
					{{qq.id}}
				</td>
				<td>
					{{qq.text}}
				</td>
				</tr>
		</table>
	</div>
		
	<div class="col-md-6">
		<table class="table">
			<tr ng-repeat="q in sectionQuestions">
				<td>
					{{q.id}}
				</td>
				<td>
				<p>{{q.text}}</p>
				<span class="like-link" ng-click="addQuestionToQuiz($index)">Add this question to quiz</span>
					
				</td>
			</tr>
		</table>
	</div>
	
</div>
